$facebookButton: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png");

//COLORS
$containerColor: #edc7b7;
$accentColor: #ac3b61;
$gray: #bab2b5;
$blue: #123c69;
//Install monsteratt font
//Change log

//Overriden styles
.jumbotron {
  background-color: $containerColor;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
